/node_modules/
/build/
/.idea/.gitignore
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/project.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/easy-i18n.xml
/.idea/jsLinters/eslint.xml
/.idea/inspectionProfiles/Project_Default.xml
